

header div{
    width: 1200px;
    height: 59px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#linediv{
    width: auto;
    height: 0px;
    border: 0.5px solid #ccc;
    background-color: #ccc;
}
/* 헤더 nav1 속성*/
.navi1{
	width:auto;
    height:60px;
    text-align: center;
    float: right;
    margin-top: 13px;
}
.navi1 ul{
    list-style: none; 
    margin-top: -25px;
}
.navi1 ul li {
	display:inline;	
    float: left;
    margin: 5px;
}
.navi1 ul li a{
    font-size:14px;
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.navi1 select{
    align-items: center;
    margin-top: 23px;
}

/* 헤더 nav2 속성*/
.navi2{
	width:auto;
    height:60px;
    text-align: center;
    float: left center;
}
.navi2 ul{
    list-style: none; 
    margin-top: -5px;
    margin-left: 100px;
}
.navi2 ul li {
    float: left;
    margin-right: 35px;

}
.navi2 ul li a{
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(70, 70, 70);
}

#bg{
    background-image: url(../images/photo-1534951474654-87823058c487.jpg); 
    height: 580px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
}



section div{
    width: 1200px;
    height: 59px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
section a{
    color: white;
    text-decoration: none;
}
section h1{
    margin-top: 130px;
    font-size: 54px;
    letter-spacing: 2px;
}
section h2{
    margin-top: -35px;
    font-weight: normal;
}
section h3{
    font-weight: normal;
}


section ul{
    margin-left: -40px;
    float: left;
    list-style-type: none;
}
section li{
    float: left;
}
section input{
    margin-top : 120px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 650px;
    height: 67px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #eee;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
section button{
    margin: 0;
    border: 0;
    padding: 0;
    width: 140px;
    height: 65px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}
.search{
    float: left;
    width: 140px;
    height: 65px;
    border: 1px solid #e33566;
    background-color: #e33566;
    text-align: center;
    margin-top: 120px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


/*작은 검색어 박스*/
.key{
    border: 2px solid white;
    border-radius: 20px;
    width: auto;
    height: 24px;
    float: left;
    margin-right: 10px;
    list-style-type: none;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
}